*{
    outline: none;
    box-shadow: none;
}

header nav a{
    margin: 0 auto;
}

label{
    font-size: 0.8em;
}

.btn-add{
    display: block;
    margin: 0 auto;
    width: 175px;
}

.mt-10{
    margin-top: 8rem;
}

.table td, .table th{
    text-align: center;
    padding-top: 25px;
}

.form-control{
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.nav-link{
    color: #fff;
}

